@(list: List[models.SqlInfo], oList: List[String])(implicit flash: Flash)

@main("SQLsync") {
<link rel='stylesheet' type='text/css' href='@routes.Assets.at("javascripts/ext/jqgrid/css/ui.jqgrid.css")' />
<script type='text/javascript' src='@routes.Assets.at("javascripts/ext/jqgrid/js/i18n/grid.locale-ja.js")'></script>
<script type='text/javascript' src='@routes.Assets.at("javascripts/ext/jqgrid/js/jquery.jqGrid.src.js")'></script>
<script src="@routes.Assets.at("javascripts/sqlgrid.js")" type="text/javascript"></script>
<script>
$(document).ready(function() {
	var grid = new flect.util.SQLGrid({
		"modelPath" : "/sql/model",
		"dataPath" : "/sql/data",
		"div" : "#gridDiv",
		"error" : function(str) {
			$("#error-msg").text(str);
		}
	});
	$("#btnSQL").click(function() {
		grid.execute($("#sql").val());
	});
});
</script>
	<h1>SQLSync</h1>
	<div>
		<h2>SQL一覧</h2>
		<table border="1">
			<tr>
				<th>名前</th>
				<th>SQL</th>
				<th>オブジェクト名</th>
				<th>外部ID</th>
				<th>前回対象日時</th>
				<th>次回対象日時</th>
			</tr>
			@list.map{ obj =>
			<tr>
				<td>@obj.name</td>
				<td>@obj.sql</td>
				<td>@obj.objectName</td>
				<td>@obj.externalIdFieldName</td>
				<td>@obj.prevExecuted</td>
				<td>@obj.lastExecuted</td>
			</tr>}
		</table>
		<ul>
		</ul>
	</div>
	<hr>
	@flash.get("error").map{ s => <div style="color:red">@s</div>}
    <div>
    	<h2>追加</h2>
    	<form action="/sync/add" method="post">
    		名前 <input id="name" name="name" value="@flash.get("name")"><br>
    		SQL  <textarea id="sql" name="sql" cols="40" rows="10">@flash.get("sql")</textarea><br>
    		オブジェクト名 <select id="objectName" name="objectName">@oList.map{ s => <option value="@s" @flash.get("objectName").filter(_ == s).map(s=> "selected")>@s</option>}</select><br>
    		外部ID <input id="externalIdFieldName" name="externalIdFieldName" value="@flash.get("externalIdFieldName")"><br>
    		<input type="submit" value="登録"/>
    	</form>
    	<button id="btnSQL">SQL実行</button>
    </div>
    <div id="gridDiv" style="width:90%;">
    </div>
    <div id="error-msg">
    </div>
}
